.nav_container{
  padding: .7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo_div h1{
  color: #FF3B3F;
}

.nav_logo_div sup{
  font-size: 1.3rem;
}

.nav_link_div ul{
  list-style: none;
  display: flex;
  justify-items: center;
  gap: 1rem;
}

.nav_link{
  font-size: 1.3rem;
  cursor: pointer;
  color:#A9A9A9;
  transition: color .25s ease-in-out;
  text-decoration: none;
}

.nav_link:hover{
  color:#FF3B3F
}

.nav_active{
  color:#FF3B3F
}