.user_card_container {
  display: flex;
  gap: 0.5rem;
  background-color: #caebf2;
  border-radius: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
}

.card_image_div img {
  height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.card_text_div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_text_div h3 {
  color: #ff3b3f;
}

.card_text_div h3,
i,
span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .card_image_div img {
    width: 110px;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
  }
}
